
/* averia-serif-libre-latin-400-normal */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* blackout-two-am-latin-400-normal */
@font-face {
  font-family: 'Blackout Two AM';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/blackout-two-am@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/blackout-two-am@latest/latin-400-normal.woff) format('woff');
}

::selection {
  color: black;
  background: black;
}

* {
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
  font-family: Averia Serif Libre;
  margin-left: 20px;
  font-size: 18px;
  padding: 0;
}

h1 {
  font-family: Blackout Two AM;
  font-size: 64px;
}

p {
  width: 60%;
}

a {
  color: #FF0050;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  cursor: zoom-in;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}